@model IEnumerable<CompanyCard.Models.Employee>

@{
    ViewBag.Title = "Employee Page";
}

<h2>Employees of @ViewBag.CompanyName</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create", "", new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }, new { @class = "btn btn-primary btn-sm" })
                @if (Session["Admin"] != null)
                {
                    if (Session["Admin"].Equals("Yes"))
                    {
                        <span>
                            | @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }, new { @class = "btn btn-primary btn-sm" })
                        </span>
                        <span>
                            | @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId }, new { @class = "btn btn-primary btn-sm" })
                        </span>
                    }
                }
            </td>

        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "../Companies/Index", "", new { @class = "btn btn-primary" })
</div>
