@model IEnumerable<CompanyCard.Models.Shift>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Ajax.ActionLink("Create new Shift", "Create", null, new AjaxOptions { LoadingElementId = "loadingImage", OnBegin = "onAjaxBegin()", OnSuccess = "onAjaxComplete()", UpdateTargetId = "mainBody", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workedHours)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.workedHours)
                </td>
                <td>
                    @if (Session["Admin"] != null)
                    {
                        if (Session["Admin"].Equals("Yes"))
                        {
                            <span>
                                @Ajax.ActionLink("Edit", "Edit", new { id = item.ShiftId }, new AjaxOptions { LoadingElementId = "loadingImage", OnBegin = "onAjaxBegin()", OnSuccess = "onAjaxComplete()", UpdateTargetId = "mainBody", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm" })
                                @* @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }, new { @class = "btn btn-primary btn-sm" })*@
                            </span>
                            <span>
                                | @Ajax.ActionLink("Delete", "Delete", new { id = item.ShiftId }, new AjaxOptions { LoadingElementId = "loadingImage", OnBegin = "onAjaxBegin()", OnSuccess = "onAjaxComplete()", UpdateTargetId = "mainBody", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm" })
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.CompanyId }, new { @class = "btn btn-primary btn-sm" })*@
                            </span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
    <table class=" bottom table table-striped">
        <tr>
            <td>Employee:</td>
            <td>@ViewBag.EmployeeName</td>
        </tr>
        <tr>
            <td>Total worked hours:</td>
            <td>@Model.Sum(i => i.workedHours)</td>
        </tr>
        <tr>
            <td>How many Days worked:</td>
            <td>@Model.Count()</td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td>@ViewBag.Salary</td>
        </tr>
    </table>
    <span>
        @Ajax.ActionLink("Back to List", "Index", "Employees", new { id = ViewBag.CompanyID }, new AjaxOptions { LoadingElementId = "loadingImage", OnBegin = "onAjaxBegin()", OnSuccess = "onAjaxComplete()", UpdateTargetId = "mainBody", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm" })
    </span>
    <span>
        @Ajax.ActionLink("Pay", "Pay", new { id = ViewBag.EmployeeID }, new AjaxOptions { LoadingElementId = "loadingImage", OnBegin = "onAjaxBegin()", OnSuccess = "onAjaxComplete()", Confirm = "Do you want to pay this employee?", UpdateTargetId = "mainBody", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm" })
    </span>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
