@model IEnumerable<CompanyCard.Models.PaidShift>

@{
    ViewBag.Title = "PaidIndex";
}

<h2>PaidIndex</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workedHours)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            ViewBag.EmployeeName = item.Employee.EmployeeName;
            ViewBag.CompanyID = item.Employee.CompanyCompanyId;
            ViewBag.Salary = item.Employee.SalaryPerHour;
            ViewBag.SelectedEmployeeId = item.EmployeeId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.workedHours)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Employee:</td>
            <td>@ViewBag.EmployeeName</td>
        </tr>
        <tr>
            <td>Total worked hours:</td>
            <td>@Model.Sum(i => i.workedHours)</td>
        </tr>
        <tr>
            <td>How many Days worked:</td>
            <td>@Model.Count()</td>
        </tr>
        <tr>
            <td>Salary(per hour):</td>
            <td>@ViewBag.Salary</td>
        </tr>
    </tfoot>
</table>
<span>
    @Ajax.ActionLink("Back to List", "Index", "Employees", new { id = ViewBag.CompanyID }, new AjaxOptions { UpdateTargetId = "mainBody", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary btn-sm" })
</span>